# Data Manipulation & Analysis With Pandas

## Introduction

**pandas** is a Python library that provides high-performance, easy-to-use data structures and data analysis tools. In many ways pandas provides a Python equivilent of the data analysis and manipulation tools avialble in the R programming language. Full details of pandas are available at [pandas.pydata.org](http://pandas.pydata.org/)

pandas fits very nicely as part of the iPython Notebook environment along with librarires such as numpy, scikit learn, and matplotlib.

The pandas website describes the highlights of the pandas library as:

* A fast and efficient DataFrame object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
* Intelligent data alignment and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
* Flexible reshaping and pivoting of data sets;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Columns can be inserted and deleted from data structures for size mutability;
* Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
* Highly optimized for performance, with critical code paths written in Cython or C.
* Python with pandas is in use in a wide variety of academic and commercial domains, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more.

## Pandas Data Structures

To get started we import the **pandas** library (and the **numpy** library as much of pandas is based on this).

In [ ]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np

Pandas offers two key data structures that are optimised for data analysis and manipulation: **Series** and **DataFrame**. the key distinction of these data structures over basic Python data structures is that they make it easy to associate labels with data - for example row and column names.

### Series

In pandas a Series is a one-dimensional array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).  the difference between this and a basic Python list or tuple is that the elements in the array can have a custom label, or **index** - that is they are not limited to a simple nueric index like the basic Python data structures.

#### Creation

To create a pandas Series we use the **Series** method. The simplest way to create a pandas Series is to pass it a list of values and use a simple numeric index (a not very exictiing way to use a pandas Series!).

In [ ]:
my_series = pd.Series([45, 232, 45, 67, 1, 88, 99, 65])
print(my_series)

We can also explictily pass a list of index values to the Series method so as to use a more intersting index. For example:

In [ ]:
populations = pd.Series([1357000000, 1252000000, 321068000, 249900000, 200400000, 191854000], 
                        ["China", "India", "United States", "Indonesia", "Brazil", "Pakistan"])
print(populations)

This is very similar to a Python dictionary. In fact we can create a pandas series directly from a Python dictionary:

In [ ]:
populations = pd.Series({"China":1357000000, "India":1252000000, "United States":321068000, "Indonesia":249900000, "Brazil":200400000, "Pakistan":191854000})
print(populations)

#### Operations

The pandas Series object, however, supports interesting data analysis functionality. For example, we can perform a range of simple analysis tasks on this Series object:

In [ ]:
populations.min()

In [ ]:
populations.max()

In [ ]:
populations.median()

In [ ]:
populations.mean()

In [ ]:
populations.std()

The **describe** method generates a nice summary set of descriptive statistics:

In [ ]:
populations.describe()

#### Access & Manipulation

A pandas Series offers a number of choices for accessing elements. We can use simple index numbers:

In [ ]:
populations[0]

In [ ]:
populations[5]

We can use slicing through the **:** operator (remenber that **start:end** includes the elements from index start up to but not including index end):

In [ ]:
populations[2:5]

In [ ]:
populations[:5]

In [ ]:
populations[2:]

We can also provide Boolean expressions for conditional data acess. For example, to generate a list of countries with populations greater than 1 billion we use:

In [ ]:
populations[populations > 1000000000]

We can also access elements using the index defined at creation (like we would with a dictionary):

In [ ]:
populations

In [ ]:
populations["Brazil"]

Using the index is also the easiest way to change elements in a pandas Series:

In [ ]:
populations["China"] = 1374730000
print(populations)

Although changes can always also be made using numeric indices:

In [ ]:
populations[2] = 1236344631
print(populations)

### DataFrame

A pandas **DataFrame** is a 2-dimensional labeled data structure with columns of data that can be of different types. The DataFrame is essentially equivilent to a spreadsheet, and SQL table, and R data frame, or a SAS dataset. The DataFrame is the most commonly used pandas object and usually why we use pandas. Rows and columns in a DataFrame can be labelled, which allows for easy data access.

In [ ]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np

#### Creation

The easiest way to create a pandas DataFrame is to pass the **DataFrame** method a dictionary of lists (each list will be a **column** in the DataFrame):

In [ ]:
countries = pd.DataFrame({"Country":["China", "India", "United States", "Indonesia", "Brazil", "Pakistan"],
                          "Population":[1357000000, 1252000000, 321068000, 249900000, 200400000, 191854000],
                          "GDP":[11384760, 2182580, 17968200, 888648, 1799610, 246849],
                          "Life Expectancy":[75.41, 68.13, 79.68, 72.45, 73.53, 67.39]})
display(countries)

Data frames can also be created easily using a list of dictionary objects each of which defines data using the same data format:

In [ ]:
countries = pd.DataFrame([{"Country":"China", "Population":1357000000, "GDP":11384760, "Life Expectancy":75.41},
                         {"Country":"India", "Population":1252000000, "GDP":2182580, "Life Expectancy":68.13},
                         {"Country":"United States", "Population":321068000, "GDP":17968200, "Life Expectancy":79.68},
                         {"Country":"Indonesia", "Population":249900000, "GDP":888648, "Life Expectancy":72.45},
                         {"Country":"Brazil", "Population":200400000, "Life Expectancy":73.53},
                         {"Country":"Pakistan", "Population":191854000, "GDP":246849, "Life Expectancy":67.39}])
display(countries)

Note that the DataFrame is able to gracefully handle the missing GDP value for Brazil. This is one of the advantages of a pandas DataFrame.

Another nice thing about pandas is that we can load a DataFrame directly from a .csv file using the **read_csv** method. In this example we read data about a longer list of countries:

In [ ]:
extended_countries = pd.read_csv('FMLPDA_Table_5_ex_3.csv')
display(extended_countries)

The **head** and **tail** methods can be used to show the first or last few lines of a DataFrame:

In [ ]:
extended_countries.head()

In [ ]:
extended_countries.tail(8)

#### Operations

pandas offers a range of easy to use analysis operations for DataFrames. For example the basic statistics operators return a value for each column in the DataFrame:

In [ ]:
extended_countries.mean()

In [ ]:
extended_countries.median()

In [ ]:
extended_countries.max()

In [ ]:
extended_countries.describe()

#### Filtering Columns

Accessing *columns* in a DataFrame is simply a matter of using the name of the column (similar to dictionary selection) to give a single column Series:

In [ ]:
extended_countries["School Years"]

In [ ]:
extended_countries.columns

We can easily select multiple columns by passing a list of column names:

In [ ]:
school_details \
= extended_countries[["Country ID","School Years"]]
display(school_details)

In [ ]:
display(extended_countries)

We can access rows either using row labels or row indices using the **loc** or **iloc** methods which both return a series (although in our example these will give the same result):

In [ ]:
extended_countries.loc[1]

In [ ]:
extended_countries.iloc[1]

Columns in a DataFrame are easily removed using the **del** operator:

In [ ]:
display(extended_countries.head())
del extended_countries["CPI"]
display(extended_countries.head())

#### Filtering Rows

We can also easily slice by rows to get an extract from a DataFrame:

In [ ]:
extended_countries[4:9]

One very useful way to slice a DataFrame is using a condition. We can pass a list of Bollean values to a DataFrame indicating which rows should be retained (True) and which should be filtered (False). A suitable list is easily generated using a simple Boolean expression on a column from the DataFrame:

In [ ]:
extended_countries[extended_countries["CPI"] > 6]

In [ ]:
mean_CPI = extended_countries["Life Exp."].mean()
extended_countries[extended_countries["Life Exp."] < mean_CPI]

This list can be passed directly to the DataFrame to perform a filtering:

In [ ]:
military_countries = extended_countries[extended_countries["Mil. Spend"] > 2]
display(military_countries)

In [ ]:
#condition = \
# (extended_countries["School Years"] > 10) & \
#                  (extended_countries["Mil. Spend"] > 2)

s_and_s = extended_countries[(extended_countries["School Years"] < 10) | \
                  (extended_countries["Mil. Spend"] > 2)]
display(s_and_s)
s_and_s.describe()

We can also delete rows using the **drop** function.

In [ ]:
display(extended_countries)

In [ ]:
extended_countries = extended_countries.drop(extended_countries.index[[6, 12]])
display(extended_countries)

#### Filtering Columns & Rows

We can combine row selection and column selection using the **loc** method. We pass it the row slice first, followed by a list of column headings. For example:

In [ ]:
extended_countries.loc[(extended_countries["School Years"] > 10), ["Country ID", "Top-10 Income"]]

We can do the same thing using numeric indices for columns and rows rather than labels using the **iloc** method:

In [ ]:
extended_countries.iloc[1:5, 2:4]

#### Deriving New Fields

This simple data frame contains people's age, height and weight

In [ ]:
num_people = 100
weights = np.random.normal(75, 10, num_people)
heights = np.random.normal(170, 10, num_people)
ages =  np.random.gamma(5.5, 10, num_people)

people = pd.DataFrame({'weight':weights,'age':ages, 'height':heights})
display(people)

In [ ]:
age_thresh = 65
people['old'] = people['age'] > age_thresh
display(people)

In [ ]:
people['BMI'] \
= people['weight']/((people['height']/100)*(people['height']/100))
display(people)

In [ ]:
old_people = people[people['old'] == True]

young_people = people[people['old'] == False]

display(old_people.head())
display(young_people.head())

In [ ]:
old_people.mean()

In [ ]:
young_people.mean()

In [ ]:
%matplotlib inline
young_people['BMI'].hist()

In [ ]:
old_people['BMI'].hist()

In [ ]:
print("Mean old BMI: ", old_people['BMI'].mean())
print("Mean young BMI: ", young_people['BMI'].mean())

From this we can easily calculate BMI

We can easily add new columns to a DataFrame by simply referring to the new column name in an expression. For example:

In [ ]:
display(extended_countries)

In [ ]:
extended_countries["High Education"] = True
extended_countries.head()

Or more interestingly using other columns in the DataFrame:

In [ ]:
extended_countries["High Education"] \
    = extended_countries["School Years"] > 10
extended_countries.head()

In [ ]:
extended_countries["Mil School Ratio"] = \
    extended_countries["Mil. Spend"] / extended_countries["School Years"]
extended_countries.head()

Adding new rows to a DataFrame is easy using the **append** method. For example to append the first 5 rows of the DataFrame again at the end:

In [ ]:
extra_rows = extended_countries[0:6]
extended_countries.append(extra_rows, ignore_index=True) # ignore_index tells pandas not to repat row indices

The **describe** method gives a nice set of summary descriptive statistics for each column:

In [ ]:
extended_countries.describe()

#### Merging DataFrames

We can also *merge* together DataFrames in SQL style join operations using the **merge** method. For example

In [90]:
country_populations = pd.read_csv('FMLPDA_Table_5_ex_3a.csv')

In [91]:
display(country_populations)

     Country ID  Population
0   Afghanistan    27101365
1       Nigeria   186988000
2     Nicaragua     6198154
3         Egypt    90369500
4     Argentina    43590400
5         China  1357000000
6        Brazil   200400000
7         U.S.A   321068000
8       Ireland     4635400
9          U.K.    65097000
10      Germany    81459000
11        Samoa      187820
12       Canada    35985751
13    Australia    23992700
14       Sweden     9845155
15  New Zealand     4659070

In [92]:
display(extended_countries)

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,False,11.100000
1,Haiti,45.00,47.67,73.1,0.09,3.4,False,0.026471
2,Nigeria,51.30,38.23,82.6,1.07,4.1,False,0.260976
3,Egypt,70.48,26.58,19.6,1.86,5.3,False,0.350943
4,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248
5,China,74.87,29.98,13.7,1.95,6.4,False,0.304688
7,Israel,81.30,28.80,3.6,6.77,12.5,True,0.541600
8,U.S.A,78.51,29.85,6.3,4.72,13.7,True,0.344526
9,Ireland,80.15,27.23,3.5,0.60,11.5,True,0.052174
10,U.K.,80.09,28.49,4.4,2.59,13.0,True,0.199231
11,Germany,80.24,22.07,3.5,1.31,12.0,True,0.109167
13,Australia,82.09,25.40,4.2,1.86,11.5,True,0.161739
14,Sweden,81.43,22.18,2.4,1.27,12.8,True,0.099219
15,New Zealand,80.67,27.81,4.9,1.13,12.3,True,0.091870

In [93]:
extended_countries_with_pop = \
    pd.merge(extended_countries, \
             country_populations, 
             on="Country ID")
display(extended_countries_with_pop)

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio,Population
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,False,11.100000,27101365
1,Nigeria,51.30,38.23,82.6,1.07,4.1,False,0.260976,186988000
2,Egypt,70.48,26.58,19.6,1.86,5.3,False,0.350943,90369500
3,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248,43590400
4,China,74.87,29.98,13.7,1.95,6.4,False,0.304688,1357000000
5,U.S.A,78.51,29.85,6.3,4.72,13.7,True,0.344526,321068000
6,Ireland,80.15,27.23,3.5,0.60,11.5,True,0.052174,4635400
7,U.K.,80.09,28.49,4.4,2.59,13.0,True,0.199231,65097000
8,Germany,80.24,22.07,3.5,1.31,12.0,True,0.109167,81459000
9,Australia,82.09,25.40,4.2,1.86,11.5,True,0.161739,23992700
10,Sweden,81.43,22.18,2.4,1.27,12.8,True,0.099219,9845155
11,New Zealand,80.67,27.81,4.9,1.13,12.3,True,0.091870,4659070

In [94]:
extended_countries.shape

(14, 8)

In [95]:
country_populations.shape

(16, 2)

In [96]:
extended_countries_with_pop.shape

(12, 9)

The **how** parameter to the merge method determines the type of join that is performed - the options are 'left', 'right', 'outer', 'inner' (the default is 'inner')

In [97]:
extended_countries_with_pop = \
pd.merge(extended_countries, \
         country_populations, 
         on="Country ID", \
         how = 'left')
display(extended_countries_with_pop)

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio,Population
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,False,11.100000,2.710136e+07
1,Haiti,45.00,47.67,73.1,0.09,3.4,False,0.026471,NaN
2,Nigeria,51.30,38.23,82.6,1.07,4.1,False,0.260976,1.869880e+08
3,Egypt,70.48,26.58,19.6,1.86,5.3,False,0.350943,9.036950e+07
4,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248,4.359040e+07
5,China,74.87,29.98,13.7,1.95,6.4,False,0.304688,1.357000e+09
6,Israel,81.30,28.80,3.6,6.77,12.5,True,0.541600,NaN
7,U.S.A,78.51,29.85,6.3,4.72,13.7,True,0.344526,3.210680e+08
8,Ireland,80.15,27.23,3.5,0.60,11.5,True,0.052174,4.635400e+06
9,U.K.,80.09,28.49,4.4,2.59,13.0,True,0.199231,6.509700e+07
10,Germany,80.24,22.07,3.5,1.31,12.0,True,0.109167,8.145900e+07
11,Australia,82.09,25.40,4.2,1.86,11.5,True,0.161739,2.399270e+07
12,Sweden,81.43,22.18,2.4,1.27,12.8,True,0.099219,9.845155e+06
13,New Zealand,80.67,27.81,4.9,1.13,12.3,True,0.091870,4.659070e+06

In [98]:
print(extended_countries.shape)
print(country_populations.shape)
print(extended_countries_with_pop.shape)

(14, 8)
(16, 2)
(14, 9)

In [ ]:
extended_countries_with_pop = pd.merge(extended_countries, country_populations, on="Country ID", how = 'left')
display(extended_countries_with_pop)

In [99]:
extended_countries_with_pop = pd.merge(extended_countries, country_populations, on="Country ID", how = 'right')
display(extended_countries_with_pop)

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio,Population
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,False,11.100000,27101365
1,Nigeria,51.30,38.23,82.6,1.07,4.1,False,0.260976,186988000
2,Egypt,70.48,26.58,19.6,1.86,5.3,False,0.350943,90369500
3,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248,43590400
4,China,74.87,29.98,13.7,1.95,6.4,False,0.304688,1357000000
5,U.S.A,78.51,29.85,6.3,4.72,13.7,True,0.344526,321068000
6,Ireland,80.15,27.23,3.5,0.60,11.5,True,0.052174,4635400
7,U.K.,80.09,28.49,4.4,2.59,13.0,True,0.199231,65097000
8,Germany,80.24,22.07,3.5,1.31,12.0,True,0.109167,81459000
9,Australia,82.09,25.40,4.2,1.86,11.5,True,0.161739,23992700
10,Sweden,81.43,22.18,2.4,1.27,12.8,True,0.099219,9845155
11,New Zealand,80.67,27.81,4.9,1.13,12.3,True,0.091870,4659070
12,Nicaragua,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6198154
13,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200400000
14,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187820
15,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35985751

In [100]:
extended_countries_with_pop.shape

(16, 9)

In [101]:
extended_countries_with_pop = pd.merge(extended_countries, country_populations, on="Country ID", how = 'outer')
display(extended_countries_with_pop)

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio,Population
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,False,11.100000,2.710136e+07
1,Haiti,45.00,47.67,73.1,0.09,3.4,False,0.026471,NaN
2,Nigeria,51.30,38.23,82.6,1.07,4.1,False,0.260976,1.869880e+08
3,Egypt,70.48,26.58,19.6,1.86,5.3,False,0.350943,9.036950e+07
4,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248,4.359040e+07
5,China,74.87,29.98,13.7,1.95,6.4,False,0.304688,1.357000e+09
6,Israel,81.30,28.80,3.6,6.77,12.5,True,0.541600,NaN
7,U.S.A,78.51,29.85,6.3,4.72,13.7,True,0.344526,3.210680e+08
8,Ireland,80.15,27.23,3.5,0.60,11.5,True,0.052174,4.635400e+06
9,U.K.,80.09,28.49,4.4,2.59,13.0,True,0.199231,6.509700e+07
10,Germany,80.24,22.07,3.5,1.31,12.0,True,0.109167,8.145900e+07
11,Australia,82.09,25.40,4.2,1.86,11.5,True,0.161739,2.399270e+07
12,Sweden,81.43,22.18,2.4,1.27,12.8,True,0.099219,9.845155e+06
13,New Zealand,80.67,27.81,4.9,1.13,12.3,True,0.091870,4.659070e+06
14,Nicaragua,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.198154e+06
15,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.004000e+08
16,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.878200e+05
17,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.598575e+07

In [102]:
extended_countries_with_pop.shape

(18, 9)

#### Aggregating DataFrames

If there are a categoricial variables in a dataset we can use them to define groups. Once groups are defined it is possible to perform analysis based on these groups.

Read in a dataset that contains the continet to which each country belongs and add that to the country details dataset.

In [103]:
country_continents = pd.read_csv('FMLPDA_Table_5_ex_3b.csv')
display(country_continents.head())

    Country ID      Continent
0  Afghanistan           Asia
1        Haiti  North America
2      Nigeria         Africa
3        Egypt         Africa
4    Argentina  South America

In [104]:
display(extended_countries.head())

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,False,11.100000
1,Haiti,45.00,47.67,73.1,0.09,3.4,False,0.026471
2,Nigeria,51.30,38.23,82.6,1.07,4.1,False,0.260976
3,Egypt,70.48,26.58,19.6,1.86,5.3,False,0.350943
4,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248

In [105]:
extended_countries_with_contnts \
= pd.merge(extended_countries, \
           country_continents, \
           on="Country ID", how = 'inner')
display(extended_countries_with_contnts)

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio,Continent
0,Afghanistan,59.61,23.21,74.3,4.44,0.4,False,11.100000,Asia
1,Haiti,45.00,47.67,73.1,0.09,3.4,False,0.026471,North America
2,Nigeria,51.30,38.23,82.6,1.07,4.1,False,0.260976,Africa
3,Egypt,70.48,26.58,19.6,1.86,5.3,False,0.350943,Africa
4,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248,South America
5,China,74.87,29.98,13.7,1.95,6.4,False,0.304688,Asia
6,Israel,81.30,28.80,3.6,6.77,12.5,True,0.541600,Asia
7,U.S.A,78.51,29.85,6.3,4.72,13.7,True,0.344526,North America
8,Ireland,80.15,27.23,3.5,0.60,11.5,True,0.052174,Europe
9,U.K.,80.09,28.49,4.4,2.59,13.0,True,0.199231,Europe
10,Germany,80.24,22.07,3.5,1.31,12.0,True,0.109167,Europe
11,Australia,82.09,25.40,4.2,1.86,11.5,True,0.161739,Oceania
12,Sweden,81.43,22.18,2.4,1.27,12.8,True,0.099219,Europe
13,New Zealand,80.67,27.81,4.9,1.13,12.3,True,0.091870,Oceania

To define groups within a dataframe we use the **groupby** function, passing it the name of the column we would like to group by. Using the grouped data then we can then perform grouped analysis.

In [107]:
grouped_data = \
extended_countries_with_contnts.groupby('Continent')

We can save the grouping object if we want to perform multiple analyses.

In [109]:
extended_countries_with_contnts.mean()

Life Exp.           72.965000
Top-10 Income       29.271429
Infant Mort.        22.100000
Mil. Spend           2.172857
School Years         9.214286
High Education       0.642857
Mil School Ratio     0.979846
dtype: float64

In [108]:
grouped_data.mean()

,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio
Continent,,,,,,,
Africa,60.890000,32.4050,51.100000,1.465000,4.700000,0.000000,0.305960
Asia,71.926667,27.3300,30.533333,4.386667,6.433333,0.333333,3.982096
Europe,80.477500,24.9925,3.450000,1.442500,12.325000,1.000000,0.114948
North America,61.755000,38.7600,39.700000,2.405000,8.550000,0.500000,0.185498
Oceania,81.380000,26.6050,4.550000,1.495000,11.900000,1.000000,0.126805
South America,75.770000,32.3000,13.300000,0.760000,10.100000,1.000000,0.075248

In [ ]:
extended_countries_with_contnts.mean()

In [110]:
display(grouped_data.max())
display(grouped_data.min())

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio
Continent,,,,,,,,
Africa,Nigeria,70.48,38.23,82.6,1.86,5.3,False,0.350943
Asia,Israel,81.30,29.98,74.3,6.77,12.5,True,11.100000
Europe,U.K.,81.43,28.49,4.4,2.59,13.0,True,0.199231
North America,U.S.A,78.51,47.67,73.1,4.72,13.7,True,0.344526
Oceania,New Zealand,82.09,27.81,4.9,1.86,12.3,True,0.161739
South America,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248

,Country ID,Life Exp.,Top-10 Income,Infant Mort.,Mil. Spend,School Years,High Education,Mil School Ratio
Continent,,,,,,,,
Africa,Egypt,51.30,26.58,19.6,1.07,4.1,False,0.260976
Asia,Afghanistan,59.61,23.21,3.6,1.95,0.4,False,0.304688
Europe,Germany,80.09,22.07,2.4,0.60,11.5,True,0.052174
North America,Haiti,45.00,29.85,6.3,0.09,3.4,False,0.026471
Oceania,Australia,80.67,25.40,4.2,1.13,11.5,True,0.091870
South America,Argentina,75.77,32.30,13.3,0.76,10.1,True,0.075248

We can use column selection on the grouped data object to only see details of certain columns.

In [112]:
display(grouped_data['Mil. Spend'].describe())

               count      mean       std   min     25%    50%     75%   max
Continent
Africa           2.0  1.465000  0.558614  1.07  1.2675  1.465  1.6625  1.86
Asia             3.0  4.386667  2.410443  1.95  3.1950  4.440  5.6050  6.77
Europe           4.0  1.442500  0.831440  0.60  1.1025  1.290  1.6300  2.59
North America    2.0  2.405000  3.273904  0.09  1.2475  2.405  3.5625  4.72
Oceania          2.0  1.495000  0.516188  1.13  1.3125  1.495  1.6775  1.86
South America    1.0  0.760000       NaN  0.76  0.7600  0.760  0.7600  0.76

Or to look at multiple columns:

In [113]:
display(grouped_data[['Life Exp.', 'Infant Mort.']].describe())

              Life Exp.                                                \
                  count       mean        std    min      25%     50%
Continent
Africa              2.0  60.890000  13.562308  51.30  56.0950  60.890
Asia                3.0  71.926667  11.140531  59.61  67.2400  74.870
Europe              4.0  80.477500   0.637985  80.09  80.1350  80.195
North America       2.0  61.755000  23.695148  45.00  53.3775  61.755
Oceania             2.0  81.380000   1.004092  80.67  81.0250  81.380
South America       1.0  75.770000        NaN  75.77  75.7700  75.770

                              Infant Mort.                              \
                   75%    max        count       mean        std   min
Continent
Africa         65.6850  70.48          2.0  51.100000  44.547727  19.6
Asia           78.0850  81.30          3.0  30.533333  38.237983   3.6
Europe         80.5375  81.43          4.0   3.450000   0.818535   2.4
North America  70.1325  78.51          2.0  39.700000  47.234733   6.3
Oceania        81.7350  82.09          2.0   4.550000   0.494975   4.2
South America  75.7700  75.77          1.0  13.300000        NaN  13.3


                  25%    50%     75%   max
Continent
Africa         35.350  51.10  66.850  82.6
Asia            8.650  13.70  44.000  74.3
Europe          3.225   3.50   3.725   4.4
North America  23.000  39.70  56.400  73.1
Oceania         4.375   4.55   4.725   4.9
South America  13.300  13.30  13.300  13.3

Using groups we can also perform **data aggregation** jobs - rolling up muptiple rows of data into a single row that aggregates them. To do this we use the **agg** function in conection with grouped data. For example to create a dataset containing the mean life expectancy of each continent we could use:

In [ ]:
grouped_data['Life Exp.'].agg([np.mean])

We can add multiple measurs to this aggregation - for example including max and min as well as mean:

In [ ]:
grouped_data['Life Exp.'].agg([np.mean, np.min, np.max])

We can do this for multiple columns from the original dataset to be even more expressive.

In [ ]:
grouped_data[['Life Exp.', 'Infant Mort.']].agg([np.mean, np.min, np.max])

In [ ]:
grouped_data.agg([np.mean])

### Simple Analysis

Remember we can use simple analysis functions to start analysing data. The most interesting are **describe**, and **value_counts**.

In [ ]:
extended_countries_with_pop["School Years"].describe()

In [ ]:
extended_countries_with_contnts["Continent"].describe()

In [ ]:
extended_countries_with_contnts["Continent"].value_counts()